<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="TheProcuratorDbContext"
         connectionString="Data Source=147.75.67.226\SQLEXPRESS,1433;Initial Catalog=theprocurator;Persist Security Info=True;User ID=tpnwebuser;Password=alIjLadsj8~9823XxoiP0y"
         providerName="System.Data.SqlClient"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="facebook-consumer" value="159835600865002" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="facebook-secret" value="c64815a0363ecfa6cdd68f393b308b64" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
