@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1300 Union Ave NE<br />
    Grand Rapids, MI 49505<br />
    <abbr title="Phone">P:</abbr>
    <a href="tel:16168281423">1.616.828.1423</a>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:darktierstudios@gmail.com">darktierstudios@gmail.com</a><br />
</address>