@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">        
    <h1>Character Sheet Builder</h1>
    <p class="lead">Manage all your character sheets and all your characters for all your RPGs &mdash; in one place.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">        
        <h2>Build a Character Sheet</h2>
        <p>
            Build your own custom character sheet for any game with an easy drag and drop interface and custom themes.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create a Party</h2>
        <p>Create a character from one of your character sheets. Keep a running history of all your character changes and print them.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage a Campaign</h2>
        <p>Group and manage your characters together and include them in a campaign.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>