@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">        
    <h1>Character Sheet Manager</h1>
    <p class="lead">Manage all your character sheets and all your characters for all your RPGs &mdash; in one place.</p>
    <p>        
        <a href="/CharacterSheets/Search" class="btn btn-primary btn-lg">Find a Character Sheet &raquo;</a>
        <a href="/Characters/Search" class="btn btn-primary btn-lg">Find a Character &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">        
        <h2>Manage Your Character Sheets</h2>
        <p>
            Build your own custom character sheet for any game with an easy drag and drop interface and custom themes.
        </p>
        <p><a class="btn btn-default" href="/CharacterSheets">View your character sheets &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Your Characters</h2>
        <p>Create a character from one of your character sheets. Keep a running history of all your character changes and print them.</p>
        <p><a class="btn btn-default" href="/Characters">View your character &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Your Campaigns</h2>
        <p>Group and manage your characters together and include them in a campaign.</p>
        <p><a class="btn btn-default" href="#" disabled>Learn more &raquo;</a></p>
    </div>
</div>