body {
    padding-top: 50px;
    padding-bottom: 20px;
    -webkit-print-color-adjust: exact;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-logo img {
    max-height: 60px;
    padding: 2px;
}

.navbar-brand {
    padding: 0px;
}


/* formeo */
.form-rendered .build-form {
  display: none;
}

.render-form {
  display: none;  
  margin: auto;
  padding: 0px;    
}

.form-rendered .render-form {
  display: block;
}

.page-break {
    page-break-after:always;
}

.f-radio,
.f-checkbox
{
    float:left;
    padding-right: 5px;
}

.f-radio:last-child,
.f-checkbox:last-child
{
    float:none;    
}

.img-thumbnail {
    max-width: 100px !important;
}

.btn-group-vertical a {    
    margin-bottom: 2px;
}

td .btn-group-vertical {
    max-width: 150px;
} 